/*****************************************************************************************************************************************************************************
*	Revision History
*
*	Name: kenuser.Pr_GetEmployeeList
*	Description: Get the attendance summary of the specified employee
*
*	Date			Author		Rev. #		Comments:
*	11/01/2026		Ervin		1.0			Created
*	06/03/2026		Ervin		1.1			Use ISNULL clause for concatenating the first name, middle name, and last name
*	16/03/2026		Ervin		1.2			Added the following fields: EmpEmail, DILBalance, LeaveBalance, SLBalance
*	09/07/2026		Ervin		1.3			Refactored the logic in calculating the AL and SL balances
******************************************************************************************************************************************************************************/

ALTER PROCEDURE kenuser.Pr_GetEmployeeList
(   		
	@empNo			INT = 0,
	@costCenter		VARCHAR(20) = NULL
)
AS
BEGIN

	--Tell SQL Engine not to return the row-count information
	SET NOCOUNT ON 

	IF ISNULL(@empNo, 0) = 0
		SET @empNo = NULL

	IF ISNULL(@costCenter, 0) = ''
		SET @costCenter = NULL

	SELECT	a.EmployeeId, a.EmployeeNo,
			a.FirstName, a.MiddleName, a.LastName,
			RTRIM(c.UDCDesc1) AS Gender,
			a.HireDate, a.DOB,
			a.ReportingManagerCode,
			RTRIM(rm.FirstName) + ' ' + RTRIM(rm.MiddleName) + ' ' + RTRIM(rm.LastName) AS ReportingManager,
			a.DepartmentCode,
			b.DepartmentName,
			RTRIM(jt.UDCDesc1) AS JobTitle,
			RTRIM(a.OfficialEmail) as EmpEmail,		--Rev. #1.2
			le.DILBalance,
			le.LeaveBalance - openAL.OpenLeaveDuration AS LeaveBalance,		--Rev. #1.3
			le.SLBalance - openSL.OpenLeaveDuration AS SLBalance			--Rev. #1.3
	FROM kenuser.Employee a WITH (NOLOCK)
		INNER JOIN kenuser.DepartmentMaster b WITH (NOLOCK) ON RTRIM(a.DepartmentCode) = RTRIM(b.DepartmentCode)
		LEFT JOIN kenuser.UserDefinedCode c WITH (NOLOCK) ON RTRIM(a.GenderCode) = RTRIM(c.UDCCode)
		LEFT JOIN kenuser.Employee rm ON CAST(a.ReportingManagerCode AS INT) = rm.EmployeeNo
		LEFT JOIN kenuser.UserDefinedCode jt WITH (NOLOCK) ON RTRIM(a.JobTitleCode) = RTRIM(jt.UDCCode)
		LEFT JOIN kenuser.LeaveEntitlement le WITH (NOLOCK) ON a.EmployeeNo = le.EmployeeNo
		OUTER APPLY		--Rev. #1.3
		(
			SELECT SUM(x.LeaveDuration) AS OpenLeaveDuration 
			FROM kenuser.LeaveRequisitionWF x WITH (NOLOCK)
			WHERE x.LeaveEmpNo = a.EmployeeNo
				AND x.LeaveApprovalFlag NOT IN ('C', 'R', 'D')
				AND RTRIM(x.LeaveType) = 'AL'
				AND YEAR(x.LeaveStartDate) = YEAR(GETDATE())
		) openAL
		OUTER APPLY		--Rev. #1.3
		(
			SELECT SUM(x.LeaveDuration) AS OpenLeaveDuration 
			FROM kenuser.LeaveRequisitionWF x WITH (NOLOCK)
			WHERE x.LeaveEmpNo = a.EmployeeNo
				AND x.LeaveApprovalFlag NOT IN ('C', 'R', 'D')
				AND RTRIM(x.LeaveType) = 'SL'
				AND YEAR(x.LeaveStartDate) = YEAR(GETDATE())
		) openSL
	WHERE 
		(a.EmployeeNo = @empNo OR @empNo IS NULL)
		AND (RTRIM(a.DepartmentCode) = @costCenter OR @costCenter IS NULL)
	ORDER BY a.DepartmentCode, a.EmployeeNo

END 

/*	Debug:

	EXEC kenuser.Pr_GetEmployeeList

*/
