@inherits LayoutComponentBase

<MudThemeProvider />
<MudPopoverProvider />
<MudDialogProvider />
<MudSnackbarProvider />
<!--
<MudContainer MaxWidth="MaxWidth.False" Class="pa-0 ma-0">
    @Body
</MudContainer>
-->

<div class="login-wrapper">
    @Body
</div>
