@using System
@using System.Linq
@using System.Linq.Expressions
@using System.ComponentModel.DataAnnotations
@using MudBlazor

@typeparam TModel
@typeparam TValue

@if (Label is not null)
{
    <MudText Typo="Typo.body1" Class="mb-1">
        @Label
        @if (IsRequired)
        {
            <span style="color:red; font-weight: bold; margin-left: 2px; position: relative; top: -2px;">*</span>
        }
    </MudText>
}

@code {
    [Parameter] public string? Label { get; set; }
    [Parameter] public Expression<Func<TModel, TValue>>? For { get; set; }

    private bool IsRequired
    {
        get
        {
            if (For == null) return false;
            var member = (For.Body as MemberExpression)?.Member;
            return member?.GetCustomAttributes(typeof(RequiredAttribute), true).Any() ?? false;
        }
    }
}