<?xml version="1.0" encoding="utf-8"?>
<!--
This file is used by the publish/package process of your Web project. You can customize the behavior of this process
by editing this MSBuild file. In order to learn more about this please visit https://go.microsoft.com/fwlink/?LinkID=208121. 
-->
<Project>
  <PropertyGroup>
    <WebPublishMethod>ZipDeploy</WebPublishMethod>
    <IsLinux>true</IsLinux>
    <RuntimeIdentifier>linux-x64</RuntimeIdentifier>
    <ResourceId>/subscriptions/595cbfaa-7ff0-46e5-a808-210940222047/resourcegroups/rg-kenhrapp/providers/Microsoft.Web/sites/as-kenhrapp</ResourceId>
    <ResourceGroup>rg-kenhrapp</ResourceGroup>
    <LaunchSiteAfterPublish>true</LaunchSiteAfterPublish>
    <SiteUrlToLaunchAfterPublish>https://as-kenhrapp.azurewebsites.net</SiteUrlToLaunchAfterPublish>
    <PublishProvider>AzureWebSite</PublishProvider>
    <LastUsedBuildConfiguration>Release</LastUsedBuildConfiguration>
    <LastUsedPlatform>Any CPU</LastUsedPlatform>
    <ProjectGuid>6708a554-7566-4456-9557-08f7a5dae3d5</ProjectGuid>
    <PublishUrl>https://as-kenhrapp.scm.azurewebsites.net/</PublishUrl>
    <UserName>$as-kenhrapp</UserName>
    <_SavePWD>true</_SavePWD>
  </PropertyGroup>
</Project>